<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>

    <div class="col-lg-6 col-md-6 form-container">
      <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
        <div class="logo mb-3">
          <h2>Langout</h2>
        </div>
        <div class="heading mb-4">
          <h4>Create an account</h4>
        </div>
        <form action="/signup" method="POST" enctype="multipart/form-data">
          <div class="form-input">
            <span><i class="fa fa-user"></i></span>
            <input type="text" placeholder="Full Name" name="fullName" style="text-transform:capitalize" required>
          </div>
          <div class="form-input">
            <span><i class="fa fa-envelope"></i></span>
            <input type="email" placeholder="Email Address" name="email" required>
          </div>
          <div class="form-input">
            <span><i class="fa fa-lock"></i></span>
            <input type="password" placeholder="Password" name="password" required>
          </div>
          <div class="form-input">
            <span><i class="fa fa-language"></i></span>
            <input type="text" placeholder="Language you want to learn" name="learningLanguage" style="text-transform:capitalize" required>
          </div>
          <div class="form-input">
            <span><i class="fa fa-language"></i></span>
            <input type="text" placeholder="Language you can teach" name="speakingLanguage" style="text-transform:capitalize" required>
          </div>
          <div class="form-input">
            <span><i class="fa fa-image"></i></span>
            <input type="file" placeholder="Profile image" name="imageUrl" required>
          </div>
          <div class="row mb-3">
          </div>
        {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
        {{/if}}
          <div class="text-left mb-3">
            <button type="submit" class="btn">Register</button>
          </div>
          <div class="text-center mb-2">
            <div class="mb-3" style="color: #777">or register with</div>

            <a href="/auth/facebook" class="btn btn-social btn-facebook">facebook</a>

            <a href="/auth/google" class="btn btn-social btn-google">google</a>


            <div style="color: #777">Already have an account
              <a href="/login" class="login-link">Login here</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>




