<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> --}}
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://kit.fontawesome.com/ab6b678fea.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

</head>


<body>
<div class="content">
  <div class="menu-wrap">
   <input type="checkbox" class="toggler">
      <div class="hamburger">
        <div></div>
      </div>
        <div class="menu">
         <div>
           <div>
            <ul class="navbar-nav ml-auto">
              <li><a href="/">Home</a></li>
              <li><a href="/posts">Posts</a></li>
              <li><a href="/users">Profiles</a></li>
              {{#if user}}
              <li><a href="/create-post">Create post</a></li>
              <li><a href="/profile">My profile</a></li>
            
              <li><a href="/logout">Logout</a></li>
              {{else}}
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
              {{/if}}
            </ul>
           </div>
         </div>
        </div>
  </div>

  <main>
    {{{body}}}
  </main>
</div>
  <footer>
    <div class="container bg-dark">
      <div class="row text-light text-center py-4 justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
        
          <p> Developed by Jamal Nasser</p>

          <ul class="social pt-3">
            <li><a href="https://www.linkedin.com/in/jamal-nasser/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/jamal-nasser" target="_blank"><i class="fab fa-github"></i></a></li>
          
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="/javascripts/script.js"></script>

</body>

</html>