<section>
  <h2>The Details of the profile: {{userResult.fullName}}</h2>
  <figure>
    <img src="{{userResult.imageUrl}}" alt="post-image">
  </figure>
  <hr>

  <a href="/users/{{userResult.id}}/edit">Edit</a>
</section>