<section>
  <h2>The Details of the post: {{postResult.title}}</h2>
  <p>{{postResult.description}}</p>
<figure>
  <img src="{{postResult.imageUrl}}" alt="post-image">
</figure>
  <hr>

  <a href="/posts/{{postResult.id}}/edit">Edit</a>
</section>