<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>

    <div class="col-lg-6 col-md-6 form-container">
      <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
        <div class="logo mb-3">
          <h2>Langout</h2>
        </div>
        <div class="heading mb-4">
          <h4>Create a post</h4>
        </div>
        <form action="/create-post" method="POST" enctype="multipart/form-data">
          <div class="form-input">
            <span><i class="fa fa-comment"></i></span>
            <input type="text" name="title" placeholder="Post title" required>
          </div>
          <div class="form-input">
            <span><i class="fa fa-image"></i></span>
            <input type="file" name="imageUrl" required>
          </div>
          <div class="form-input">
            <span><i class="fa fa-commenting "></i></span>
            <textarea class="text-area" name="description" cols="40" rows="10" placeholder="What's on your mind today, {{user.fullName}}?" required></textarea>
          </div>
          {{#if errorMessage}}
          <div class="error-message">{{errorMessage}}</div>
          {{/if}}
          <div class="text-left mb-3">
            <button type="submit" class="btn btn-social btn-google">Create post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
